
<div class="row">
    


    <div class="form-group">
        <table align="center">
            <tr>
                <td colspan="2"> <h1 style="color: red"><b>CONTACT US</b></h1></td>
            </tr>
            <br>
            <tr>
                <td ><b>Name </b></td>
                <td> <input type="text" class="form-control" id="name" placeholder="Enter name" required="required" /></td>
            </tr>
            <br>
            <br>
            <tr>
                <td><b>Email Id</b></td>
                <td> <input type="text" class="form-control" id="name" placeholder="Enter Email" required="required" /></td>
            </tr>
            <br>
            <br>
            <tr>
                <td><b>Subject</b></td>
                <td> <input type="text" class="form-control" id="name" placeholder="Enter Subject" required="required" /></td>
            </tr>
            <br>
            <br>
            <tr>
                <td><b>Message</b></td>
                <td> <input type="text" class="form-control" id="name" placeholder="Write Something..." required="required" /></td>
            </tr>
            <br>
            <br>
            <tr>
                <td colspan="2"><button type="button" value="submit" class="btn btn-danger">Submit</button></td>
            </tr>
        </table>
        </div>
       
       
         
      
         
          
    