<div class="row">

    <p>The Bharathiar University was established at Coimbatore by the Government of Tamilnadu in February 1982 under the Bharathiar University Act, 1981 (Act 1 of 1982). The erstwhile Postgraduate Centre of the University of Madras formed the core of the Bharathiar University, which was functioning at Coimbatore before 1982. University Grants Commission (UGC) recognized Bharathiar University in 1985 for grants.

        The University has 39 Departments, offering 54 post-graduate programs besides offering M.Phil. and Ph.D. programs. The University is an affiliating University. The jurisdiction of the University covers the districts of Coimbatore, Erode, Tirupur, and The Niligiris with 133 affiliated colleges.
        
        The National Assessment and Accreditation Council have accredited the University with an ‘A’ Grade in the third cycle assessment. Bharathiar University is marching towards becoming a World Class University by garnering ranking in the International arena. Times Higher Education Young Universities World Ranking ranked our University in the range of 201 to 250. We stand at 13th rank under the category of University and 21st among the top 100 institutions in the MoE’s National Institute Ranking Framework’s (NIRF) ranking. In 2021, Bharathiar University secured a ranking in the range of 801-1000 in the Times Higher Education World University Rankings.
        
        The state-of-the-art facilities available for faculty members and scholars nurture a culture of research in cutting-edge areas. Industry infusion into the curriculum is given prominence by involving industry experts - R&D managers, product development managers, technical managers in the curriculum development as special invitees in the Board of Studies.
        
        Our University is a partner in the MHRD National Knowledge Network. Through UGC - Infonet, and Inflibnet a collection of physical and electronic resources is available. The Intellectual Property Rights Cell of Bharathiar University protects the rights of inventions of faculty and young researchers in the University. The DRDO-BU-Center for Life Sciences was established in Bharathiar University as a joint venture by DRDO, Ministry of Defence, Government of India, as an autonomous research institute to pursue basic and applied research.
        
        Bharathiar University Centre for International Affairs (BU-CIA) facilitates admission of international students through study in India (MoU) and Indian Council for Cultural Relations (MEA). BU-CIA operates in liaison with the Association of Indian Universities, the Association of Commonwealth Universities, and Shastri Indo Canadian Institute.
        
        With a dedicated team of faculty with vast experience in teaching and research and dedicated and experienced administrative members, the University has emerged as one of the strong pillars of higher education in this region.</p>
        
        Address
        <br>

The Registrar<br>
Bharathiar University<br>
Maruthamalai Road<br>
Coimbatore-641 046<br>
Tamil Nadu, India.<br>
 
Phone:+91-422-2422222, 2422223<br>

Email:regr@buc.edu.in<br>

Fax: +91-422-2425706<br>


    </div>
