<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


   
</head>
<body>
    <div class="row">
    
    <table class="table table-hover">
        <thead>
            <tr>
                <td colspan="3"><h3 align="center" style="color: rgb(165, 15, 15);" >UG COURSE DETAILS</h3></td>
            </tr>
            <tr>
                <th>COURSE NAME</th>
                <th>COURSE SHORTNAME</th>
                <th>DURATION</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Bachelor of Computer Application</td>
                <td>BCA</td>
                <td>3</td>
            </tr>
            <tr>
                <td>Bachelor of Business Administration</td>
                <td>BBA</td>
                <td>2</td>
            </tr>
            <tr>
                <td>Bachelor of Technology</td>
                <td>BTech</td>
                <td>2</td>
            </tr>

        </tbody>
    </table>
    <table class="table table-hover">
        <thead>
            <tr>
                <td colspan="3"><h3 align="center" style="color: rgb(165, 15, 15);" >PG COURSE DETAILS</h3></td>
            </tr>
            <tr>
                <th>COURSE NAME</th>
                <th>COURSE SHORTNAME</th>
                <th>DURATION</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Master of Computer Application</td>
                <td>MCA</td>
                <td>3</td>
            </tr>
            <tr>
                <td>Master of Business Administration</td>
                <td>MBA</td>
                <td>2</td>
            </tr>
            <tr>
                <td>Master of Technology</td>
                <td>MTech</td>
                <td>2</td>
            </tr>

        </tbody>
    </table>
</div>
</body>
</html>