.row
{
    align-items: center;
    background-image: url("https://www.savannahstate.edu/content/mediakitfiles/library-shelves-blur-stock-small.jpeg");
    padding: 150px;
    background-blend-mode:difference;
    font-weight: bold;

}